<!-- 
  Ceci est un début de template pour les pages de fontes.
Ne fonctionne pas pour l'instant

!!! TOUTES LES VARIABLES DANS LA SYNTAXE JINJA SONT UN EXEMPLE ET IL FAUDRA LES CHANGER
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href='{{"css/fontpage.css"|url }}'/>
  </head>
  <body>
    <section class="links">
      <h1>{{font.name}}</h1>
      <a href="{{font.meta.designers[1]}}">{{font.meta.designers[0]}}</p>
    </section>
    <section class="font-description">
      <p>{{font.meta.sample_text}}</p> <!-- La phrase de démonstration de la fonte -->
      {{ font.content }} <!-- Contenu de la page descriptive de la fonte si elle existe -->
    </section>
    <section class="font-in-use">
      {% for image in font.meta.imagelist %}
        <img src='{{image}}' alt="Une image de la typographie {{font.name}} en utilisation" />
      {% endfor %}
    </section>


  </body>
</html>
