

:root {
    --background-color: yellow;
    --text-color: #000000;

    --font-family: 'Arial', sans-serif;

body {

    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--font-family);
    margin: 0; 
    opacity: 4%;

}

.luminosity {
    font-size: 2rem; 
    color: var(--highlight-color);
    margin-top: 20px;
    transition: color 0.3s ease; 
}

