{% extends "base.html" %}

	{% block content %}

	{% set mot = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
	<div class="main-fonts">
		{% for i in range(5) %}
		<div class="font-box">
			{% set r = range(0,fonts|length) | random %}
			{% set r_mot = range(0,mot|length) | random %}
			{% set font = fonts[r] %}
			<style>
				@font-face {
					font-family: "{{font.title}}";
					src: url("{{ font.meta.paths[0] }}");
				}
			</style>
			<p style='font-family: "{{font.title}}", "substitut";'>{{ mot[r_mot] }}</p>
			<ul class="font-links">
				<li><a href="#">Download</a></li>
				<li><a href="#">Lettre</a></li>
				<li><a href="#">Texte</a></li>
			</ul>
		</div>
		{% endfor %}
		
	</div>

	{# <svg id="cont_points"></svg> #}
<script src="js/opentype.js"></script>
<script type="text/javascript">

	function dPoint (x, y) {
			var svgns = "http://www.w3.org/2000/svg";
			var shape = document.createElementNS(svgns, "circle");
			shape.setAttribute("cx", x)
			shape.setAttribute("cy", y)
			shape.setAttribute("r", 10)
			shape.setAttribute("stroke-width", 4)
			return shape.outerHTML
		}

	opentype.load('fonts/Roboto-Black.ttf', function(err, font) {
    if (err) {
        alert('Font could not be loaded: ' + err);
    } else {

				var glyphs = font.glyphs.glyphs[97]

				console.log(font)
				console.log(typeof glyphs.path.commands)
				var points = glyphs.path.commands

				var cont_svg = document.getElementById('cont_points')


				for (const [key, point] of Object.entries(points)) {
						var p = dPoint(point.x, point.y) 
						// cont_svg.innerHTML += p
					}
				// 		if(value.unicode){
				// 			var charName = String.fromCharCode(value.unicode)
				// 			}else {
				// 			var charName = '?' 
				// 		}
				// 		var points_number = value.path.commands.length
				// 		var unicode = value.unicode
				// 		// document.getElementById('glyphs_number').innerHTML += '<span><span style="display: inline-block;position: relative; background: black; width:'+points_number+'px;">.</span><span>'+value.unicode+'</span> / <span style="color:blue">'+charName+'</span> : '+value.path.commands.length+' | </span>'
			  //
				// 	}

			}});
</script>

	{% endblock %}
