/* === TOUTES LES COULEURS, EN UN SEUL ENDROIT ! */
:root {
    --color1: #672aa7;
    --color2: #a53ec9;
    --color3: #0f0;
}

* {
    transition:
        0.5s color,
        0.5s background-color;
}

html {
    background: var(--color1);
}

#main {
    background: var(--color1);
}

#sidebar {
    background: var(--color1);
}

#inneriframe {
    border: 8px groove var(--color1);
}

#fonts-list li {
    color: var(--color3);
    transition: 0.3s filter;
    background: var(--color1);
    border: 1px solid var(--color2);
}

#fonts-list li:hover {
    filter: brightness(110%);
}

#home-button {
    color: var(--color1);
    border: solid var(--color2);
}

.menu-button {
    color: #000;
    border-color: var(--color2);
}

.dropbtn {
    background-color: var(--color2);
    color: white;
}
.dropbtn:hover,
.dropbtn:focus {
    background-color: var(--color3);
}

.dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropbtn {
    color: var(--color1);
    border: solid var(--color2);
}

#font-sample-text {
    color: black;
}

.filter-buttons {
    border-color: black;
    background: var(--color2);
}

.filter-buttons + div {
    border-color: black;
    background: var(--color1);
}

#search-field {
    background-color: var(--color1);
}

#filter-dropdown-button {
    background-color: var(--color2);
}

#collapse-button {
    color: black;
    background: var(--color2);
}

#collapse-button:hover {
    filter: brightness(110%);
}

/* FONT-INFO.CSS */

#font-info {
    background: var(--color2);
}

#font-info menu {
    background: var(--color2);
}

select {
    border-color: var(--color2);
    background: var(--color3);
}

#font-info .textarea {
    background: var(--color3);
}

#font-explain p {
    background-color: var(--color2);
}

#glyphContainer {
    background-color: var(--color2);
    color: var(--color2);
}

#glyphContainer span {
    background-color: var(--color1);
    border-color: var(--color2);
    transition: 0.15s;
}

#glyphContainer span:hover {
    background-color: var(--color2);
    color: var(--color1);
}

#topBtn {
    color: var(--color2);
}
