@font-face {
    font-family: "KraftMono";
    src: url("./fonts/KraftMono.otf") format("opentype");
}

@font-face {
    font-family: "Lucette-Regular";
    src: url("./fonts/Lucette-Regular.otf") format("opentype");
}

@font-face {
    font-family: "opbouw_regular";
    src: url("./fonts/opbouw_regular.otf") format("opentype");
}
