#font-info menu {
    display: flex;
    justify-content: space-evenly;
    background: purple;
    list-style-type: none;
    align-items: center;
}

select {
    border-radius: 5px;
    border: 1px solid blue;
}

#font-info .textarea {
    line-height: 32pt;
    overflow-wrap: break-word;
    min-height: 60pt;
    border: none;
    width: 100%;
    max-width: 100%;
    font-size: 32pt;
    outline: none;
    resize: none;
    text-align: center;
}

#font-explain p {
    font-size: small;
}

#glyphContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    line-height: 2rem;
    font-size: 1.8rem;
    row-gap: 5px;
}

#glyphContainer span {
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
    border: solid 2px;
}
