:root {
  --color1: rgb(255, 121, 37);
  --color2: rgb(118, 45, 255);
  --color3: #588959;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "KraftMono", "Times New Roman", Times, serif;
}

body {
  font-size: 1.2rem;
  display: flex;
  font-family: "KraftMono";
  line-height: 1.2em;
  overflow: hidden;
  height: 100vh;
}

#main {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 7;
}

#sidebar {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 3;
  max-width: 30vw;
  right: 0%;
  margin-right: 0px;
  scrollbar-width: none;
  transition: 0.4s;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

#inneriframe {
  box-sizing: border-box;
}
/* Styles fonts list */

#fonts-list {
  list-style-type: none;
  width: 30vw;
  overflow-x: hidden;
}

#fonts-list li {
  white-space: nowrap;
  max-width: 100%;
  padding: 2em;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.horizontal-scrolling-items {
  display: flex;
  font-size: 40px;
  /* LE COUPABLE EST CI-DESSOUS: */
  /* //width: 2600px;   */
  /* ET COMME ÇA ÇA MARCHE: */
  width: max-content;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
  white-space: nowrap;
}

#fonts-list li:nth-of-type(even) p {
  font-size: 3rem;
}

#fonts-list li:nth-of-type(even) {
  font-family: "Lucette-Regular";
}

#fonts-list li:nth-of-type(odd) p {
  font-size: 5rem;
}

#fonts-list li:nth-of-type(odd) {
  font-family: "opbouw_regular";
}

#home-button {
  cursor: pointer;
  height: 2rem;
  font-size: 2rem;
  display: inline-flex;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  padding: 5px;
}

.menu-button {
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding: 10px;
  height: fit-content;
  border: solid blue;
  font-size: 10rem;
}

/* menu droptdown Button */

.dropdown-content {
  position: absolute;
  display: none;
  height: 0px;
  min-width: 160px;
  z-index: 999;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownShow {
  display: block;
}

.dropbtn {
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  align-items: center;
  padding: 5px;
  position: relative;
  font-size: 4rem;
}

#home-menu menu {
  display: none;
}

#home-menu menu.visible {
  display: inline-flex;
}

#font-link-list {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

#font-link-list li {
  flex: auto;
  vertical-align: middle;
}

#font-link-list li:last-child {
  border-right: none;
}

#font-sample-text {
  text-align: left;
  font-family: "Futturra";
  margin: 0;
}

/* <-- SIDEBAR CSS --> */

#filtersContainer {
  height: 0px;
}

.filter-buttons {
  border-right: solid 1px black;
  font-size: 1rem;
  border: none;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.show {
  height: 100% !important;
}

.filterList > li:first-child {
  color: pink;
}

#search {
  overflow-x: hidden;
}

#searchbar {
  display: inline-flex;
  width: 100%;
  height: 2rem;
}

#search-field {
  flex: 7;
  border: none;
  border-radius: 0px;
}

#filter-dropdown-button {
  flex: 1;
  border: none;
  border-radius: 0px;
}

#collapse-button {
  font-size: 0.7rem;
  max-width: 15px;
  border: none;
  transition: 0.3s;
  height: 100%;
}

.unsetAll {
  border: unset;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
