

#font-info{
background: orange;
font-family: {% truc typo %};
}

#font-info menu{
    display: flex-inline !important;
    justify-content: space-evenly;
    background:purple;
    list-style-type: none;
    align-items: center;
}

#font-info menu li{
    /* border: solid 1px black; */
}

#font-author-name {

}

#font-weight{

}

select{
    border-radius: 5px;
    border: 1px solid blue;
    background: darkblue;
}

font-sliders{

}

#font-info textarea{
    border: none;
    resize: none;
    background: beige;
    width: 100%;
    font-size: 3rem;
    height: 13rem;
}

#font-sample-text{

}

#font-link-list{

}

#font-links{

}

#top{

}
