@font-face {
    font-family: "KraftMono";
    src: url("fonts/KraftMono.otf");
}

@font-face {
    font-family: "Lucette-Regular";
    src: url("fonts/Lucette-Regular.otf");
}

@font-face {
    font-family: "opbouw_regular";
    src: url("fonts/opbouw_regular.otf");
}
