:root{
  --color1:rgb(255, 121, 37);
  --color2:rgb(118, 45, 255);
  --color3:#588959;
}

body {
  display: flex;
  font-family: "KraftMono";
  line-height: 1.2em;
  overflow:hidden;
  height:100vh;

}

#main {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 7;
  background: yellow;
}

#sidebar {

  overflow-y: scroll;
  flex: 3;
  max-width:30vw;
  background: var(--color1);
  right:0%;
}

#nav {
  /*background: magenta;*/
}

iframe{
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

#inneriframe { 
  border: 8px groove var(--color1); 
  box-sizing: border-box;
}
/* Styles fonts list */

#fonts-list {
  list-style-type: none;
  width: 30vw;
  overflow-x:hidden;
}


#fonts-list li{
//  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  padding: 2em;
  background: var(--color2);
  border: 1px solid var(--color1);
}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}

.horizontal-scrolling-items {
  display: flex;
  font-size: 40px;
  /* LE COUPABLE EST CI-DESSOUS: */
  //width: 2600px;  

  /* ET COMME ÇA ÇA MARCHE: */
  width: max-content;

  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
  white-space: nowrap;
}

#fonts-list li:nth-of-type(even) p{
  font-family: 'Lucette';
  font-size: 3rem;
}
#fonts-list li:nth-of-type(odd) p{
  font-family: 'Opbouw';
  font-size: 5rem;

}

#home-button {
  cursor: pointer;
  height: 2rem;
  font-size: 2rem;
  display: inline-flex;
  text-align: center;
  align-items: center;
  color: red;
  border: solid blue;
  border-radius: 1rem;
  padding: 5px;
}

.menu-button {
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 15px;
  padding: 10px;
  color: #000;
  height: 2rem;
  border: solid blue;
}

 /* menu droptdown Button */
 .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* menu Dropdown button hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropbtn {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

.dropbtn {
  cursor: pointer;
  height: 2rem;
  font-size: 2rem;
  display: inline-flex;
  text-align: center;
  align-items: center;
  color: red;
  border: solid blue;
  border-radius: 1rem;
  padding: 5px;
}

#home-menu menu {
  display: none;
}

#home-menu menu.visible {
  display: inline-flex;
}

#font-link-list {
  display: inline-flex;
  align-content: space-around;
  text-align: center;
  justify-content: center;
}

#font-link-list li {
}
/*border-right: solid black;*/

#font-link-list li:last-child {
  border-right: none;
}
