
body {
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: rgb(255, 95, 31);
}

a:link {color: rgb(172, 32, 182)}
a:visited {color: rgb(172, 32, 182);}
a:hover {color: rgb(172, 32, 182);}
a:active {color: rgb(172, 32, 182);}

header {
	padding: .5em;
	position: fixed;
	z-index: 2;
}

main {
	display: flex;
	align-items: stretch;
	overflow: hidden; 
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
}

header {
	cursor: pointer;
}

#about {
	display: none;
	width: 30%;
	padding: .5em;
	border-right: 4px solid #002fac;
	height: 100%;
	color: #002fac;
}

#about.active {
	display: block;
}

#left {
	background: rgb(123 31 255)
	; 
}
#right {
	background: rgb(255, 95, 31)
	; 
}

@keyframes moveSlideshow {
  100% { 
    transform: translateY(-80%);  
  }
}
/* @keyframes moveSlideshow2 {
  100% { 
    transform: translateY(100%);  
  }
} */

.column {
	width: 100%;
	height: fit-content; 
}

/* #left:hover { */
/* 	animation-play-state: paused; */
/* } */

#left {
	animation: moveSlideshow 200s linear infinite;
}
/* #right {
	animation: moveSlideshow 120s linear infinite;
} */

.column img {
	mix-blend-mode:overlay;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;

}

hr {
	height: 4px;
	background: #002fac;
	border: none;
}
