<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/font-info.css">
	<link rel="stylesheet" href="/css/style.css">
	<style>
	{% for fonts_section in nav if fonts_section.is_section and fonts_section.title == "Fonts"%}
		{% for font_section in fonts_section.children if font_section.is_section %}
			{% for font in font_section.children %}
				{% for style in font.meta.styles %}
			  @font-face {
					font-family : '{{font.meta.font_family}}{{style}}'
					src: url ('{{font.meta.paths[loop.index-1]}}')
				}
				{% endfor %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
	
	</style>
</head>
<body>

		{% block content %}
		{% endblock %}
</body>
</html>
