<section id="nav"> <!-- Boutons de navigation, en haut à gauche -->
	<!-- Bouton principal -->
	<menu>
		<div id="home-menu">
			<div class="dropdown">
				<button onclick="myFunction()" class="dropbtn">

	{{config.site_name}}

</button>
				<div id="myDropdown" class="dropdown-content">
				<a href="#">A propos</a>
				<a href="#">Articles</a>
				<a href="#">Workshops</a>
			</div>
		</div> 
	</div>
	</menu>

</section>
