<section id="font-info">
        <menu>
          <div id="font-name"><span class="info-key">Font Family :</span> {{ page.meta.font_family }}</div>
          <div id="font-author-name"><span class="info-key">Authors :</span> {{ page.meta.designers|join(',') }}</div>
          <div id="font-license"><span class="info-key">License :</span> <a target="_blank" href="{{page.meta.license_url}}">{{ page.meta.license }}</a></div>
          <div id="font-license">Tags : {{ page.meta.tags|join(',') }}</div>

          <li id="font-weight">
            <select>
							{% for style in page.meta.styles %}
								<option value="">{{ style }}</option>
							{% endfor %}
            </select>
          </li>
          <!-- Sliders pour changer les paramètres des fonts variables -->
          <ul id="font-sliders">
            <span>hey</span>
            <input type="range" name="" value="">
          </ul>
        </menu>
        <!-- Texte d'exemple pour illustrer la font -->
        <div id="font-sample-text" style="font-family:{{page.meta.font_family}}">
          <textarea rows="" cols=""></textarea>
        </div>
        <!-- Boutons en bas de page -->
        <ul id="font-link-list">
          <li class="font-links">Auteur·ices</li>
          <li class="font-links">Specimens</li>
          <li class="font-links">Sources</li>
          <li class="font-links">Télécharger</li>
        </ul>
        <a href="#top"></a>
        <footer>
          <a href="mailto:typotheque@erg.school"></a>
        </footer>
				</section>
