<section id="sidebar">
      <div id="search"> <!-- Zone de recherche -->
        <div id="searchbar">
          <!-- Quand on commence à taper, les noms des fonts sont affichées, puis les autres selecteurs, pour pouvoir tout chercher. -->
          <button id="filter-dropdown-button" type=""></button> <!-- Petit bouton fleche -->
          <input id="search-field" type="" name="" value="">
        </div>
        <div id="filters"> <!-- Tags divers -->
          <button type="button" id="filter-auteurixes" class="filter-buttons">Auteurixes</button>
          <button type="button" id="filter-licences" class="filter-buttons">Licenses</button>
          <button type="button" id="filter-tags" class="filter-buttons">Tags</button>
        </div>
      </div>
      <!-- Zone d'affichage des fonts -->
      <ul id="fonts-list">
        <li class="font " id="(A MODIFIER) font-name">
          <p class="horizontal-scrolling-items">
            <span class="font horizontal-scrolling-items__item">J’ai appris que les appareils photo russes sont plus solides que mes os en tombant de vélo.&nbsp;</span>
            <span class="font horizontal-scrolling-items__item">J’ai appris que les appareils photo russes sont plus solides que mes os en tombant de vélo.&nbsp;</span>
          </p>
        </li>
        <li class="font " id="(A MODIFIER) font-name">
          <p class="horizontal-scrolling-items">
            <span class="font horizontal-scrolling-items__item">Récite moi l'alphabet.&nbsp;</span>
            <span class="font horizontal-scrolling-items__item">Récite moi l'alphabet.&nbsp;</span>
          </p>
        </li>
        <li class="font " id="(A MODIFIER) font-name">
          <p class="horizontal-scrolling-items">
            <span class="font horizontal-scrolling-items__item">C’est ma petite sœur qui m’a dit que Saint Nicolas n’existe pas.&nbsp;</span>
            <span class="font horizontal-scrolling-items__item">C’est ma petite sœur qui m’a dit que Saint Nicolas n’existe pas.&nbsp;</span>
          </p>
        </li>
        <li class="font " id="(A MODIFIER) font-name">
          <p class="horizontal-scrolling-items">
            <span class="font horizontal-scrolling-items__item">Monter sur son vélo et foncer à travers tout, sentir les bagnoles qui t’effleurent les côtes, que tu te faufiles, qu’il n’y a plus d’obstacles, plus de temps mort, tout est fluide, tu deviens le temps qui passe.&nbsp;</span>
            <span class="font horizontal-scrolling-items__item">Monter sur son vélo et foncer à travers tout, sentir les bagnoles qui t’effleurent les côtes, que tu te faufiles, qu’il n’y a plus d’obstacles, plus de temps mort, tout est fluide, tu deviens le temps qui passe.&nbsp;</span>
          </p>
        </li>
        <li class="font " id="(A MODIFIER) font-name">
          <p class="horizontal-scrolling-items">
            <span class="font horizontal-scrolling-items__item">POUR FABRIQUER UN ORDINATEUR IL FAUT ENVIRON 700 MIGRANTS.&nbsp;</span>
            <span class="font horizontal-scrolling-items__item">POUR FABRIQUER UN ORDINATEUR IL FAUT ENVIRON 700 MIGRANTS.&nbsp;</span>
          </p>
        </li>
       <!-- ... Emplacement pour les fonts futures -->
      </ul>
{% for fonts_section in nav if fonts_section.is_section and fonts_section.title == "Fonts"%}
	{% for font_section in fonts_section.children if font_section.is_section %}
		<ul>
		{% for font in font_section.children %}

			<li>
				<a href="/{{font.url}}" class="title">{{ font.meta.font_family}}</a>
			</li>

		{% endfor %}
		</ul>
	{% endfor %}
{% endfor %}
    </section>



