
<h1>World Wide Web</h1>The WorldWideWeb (W3) is a wide-area<a name="0" href="http://info.cern.ch/hypertext/WWW/WhatIs.html">
hypermedia</a> information retrieval
initiative aiming to give universal
access to a large universe of documents.<p>
Everything there is online about
W3 is linked directly or indirectly
to this document, including an <a name="24" href="http://info.cern.ch/hypertext/WWW/Summary.html">executive
summary</a> of the project, <a name="29" href="http://info.cern.ch/hypertext/WWW/Administration/Mailing/Overview.html">Mailing lists</a>
, <a name="30" href="http://info.cern.ch/hypertext/WWW/Policy.html">Policy</a> , November's  <a name="34" href="http://info.cern.ch/hypertext/WWW/News/9211.html">W3  news</a> ,
<a name="41" href="http://info.cern.ch/hypertext/WWW/FAQ/List.html">Frequently Asked Questions</a> .
</p><dl>
<dt><a name="44" href="http://info.cern.ch/hypertext/DataSources/Top.html">What's out there?</a>
</dt><dd> Pointers to the
world's online information,<a name="45" href="http://info.cern.ch/hypertext/DataSources/bySubject/Overview.html"> subjects</a>
, <a name="z54" href="http://info.cern.ch/hypertext/DataSources/WWW/Servers.html">W3 servers</a>, etc.
</dd><dt><a name="46" href="http://info.cern.ch/hypertext/WWW/Help.html">Help</a>
</dt><dd> on the browser you are using
</dd><dt><a name="13" href="http://info.cern.ch/hypertext/WWW/Status.html">Software Products</a>
</dt><dd> A list of W3 project
components and their current state.
(e.g. <a name="27" href="http://info.cern.ch/hypertext/WWW/LineMode/Browser.html">Line Mode</a> ,X11 <a name="35" href="http://info.cern.ch/hypertext/WWW/Status.html#35">Viola</a> ,  <a name="26" href="http://info.cern.ch/hypertext/WWW/NeXT/WorldWideWeb.html">NeXTStep</a>
, <a name="25" href="http://info.cern.ch/hypertext/WWW/Daemon/Overview.html">Servers</a> , <a name="51" href="http://info.cern.ch/hypertext/WWW/Tools/Overview.html">Tools</a> ,<a name="53" href="http://info.cern.ch/hypertext/WWW/MailRobot/Overview.html"> Mail robot</a> ,<a name="52" href="http://info.cern.ch/hypertext/WWW/Status.html#57">
Library</a> )
</dd><dt><a name="47" href="http://info.cern.ch/hypertext/WWW/Technical.html">Technical</a>
</dt><dd> Details of protocols, formats,
program internals etc
</dd><dt><a name="40" href="http://info.cern.ch/hypertext/WWW/Bibliography.html">Bibliography</a>
</dt><dd> Paper documentation
on  W3 and references.
</dd><dt><a name="14" href="http://info.cern.ch/hypertext/WWW/People.html">People</a>
</dt><dd> A list of some people involved
in the project.
</dd><dt><a name="15" href="http://info.cern.ch/hypertext/WWW/History.html">History</a>
</dt><dd> A summary of the history
of the project.
</dd><dt><a name="37" href="http://info.cern.ch/hypertext/WWW/Helping.html">How can I help</a> ?
</dt><dd> If you would like
to support the web..
</dd><dt><a name="48" href="http://info.cern.ch/hypertext/README.html">Getting code</a>
</dt><dd> Getting the code by<a name="49" href="http://info.cern.ch/hypertext/WWW/LineMode/Defaults/Distribution.html">
anonymous FTP</a> , etc.
</dd></dl>